#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

nav{
  display: flex;
  justify-content: center;
  gap: 1em;
}

nav>a{
  text-decoration: none;
  color: white;
  padding:0.5em;
}

nav>a:hover , .activeLink{
  text-decoration: none;
  color: white;
  border-bottom: 2px solid white;
}